header {
    text-align: center;
}

.startbutton {
    display: inline-block;
    background-color: blue;
    color: white;
    font-size: 20px;
    max-width: 200px;
    padding: 2rem;
    margin: 10px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;
}

.timer {
    float: right;
    font-size: 40px;
}