header {
    text-align: center;
}

.firtQ {
    display: center;
}
.startbutton {
    display: inline-block;
    background-color: blue;
    color: white;
    font-size: 20px;
    max-width: 200px;
    padding: 2rem;
    margin: 10px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;
}

.startbutton:hover {
    border: 2px, solid, red;
}

.submitBtn {
    width: 75px;
    border: 2px solid black;
}

.timer {
    display: block;
    float: right;
    font-size: 25px;
}